.navbar-default{
  background-color: #260e04 !important;
  border-color: #260e04 !important;
  color: #fff !important;
}
.navbar-default .navbar-brand{
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
}

.footer{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #260e04;
  color: #fff;
  text-align: center;
  z-index: +1;

}
td, th{
  border: 1px solid #260e04;
  padding: 8px;
}
tr:nth-child(even) {
    background-color: #4e342e;
    color: #fff;
}

body{
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
}

.header{
  font-size: 60px;
}
